
#root html body {
    height: 100vh;

}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to left top, #D87892, #4E57B7);
    
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}